{
	"root": true,
	"env": {
		"browser": true,
		"node": true
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2022,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:import/recommended",
		"plugin:jsx-a11y/recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"plugins": ["react", "prettier"],
	"rules": {
		"react/react-in-jsx-scope": "off",
		"import/no-unresolved": "off",
		"@typescript-eslint/no-explicit-any": "error"
	},
	"overrides": [
		{
			"files": ["packages/client/**/*.{js,jsx,ts,tsx}"],
			"env": {
				"browser": true
			},
			"extends": [
				"eslint:recommended",
				"plugin:react/recommended",
				"plugin:import/recommended",
				"plugin:jsx-a11y/recommended",
				"plugin:@typescript-eslint/recommended"
			],
			"rules": {},
			"parserOptions": {
				"project": ["./client/tsconfig.json"]
			}
		},
		{
			"files": ["packages/server/**/*.{js,ts}"],
			"env": {
				"node": true
			},
			"extends": ["plugin:prettier/recommended"],
			"rules": {},
			"parserOptions": {
				"project": ["./server/tsconfig.json"]
			}
		}
	],
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
